/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
 margin: 0%;
}

/* Wrapper */
.error-wrapper {
  width: 100%;
  padding: 0 20px;
}


/* Main Container */
.error-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* Left Section */
.left-section {
  flex: 1;
  text-align: center;
}

.left-section img {
  width: 100%;
  max-width: 450px;
}

/* Right Section */
.right-section {
  flex: 1;
}

.right-section h1 {
  font-size: 120px;
  font-weight: 700;
  color: #3b4cca;
  margin-bottom: 10px;
}

.right-section h2 {
  font-size: 32px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.right-section p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 400px;
}

/* Button */
.home-button {
  display: inline-block;
  padding: 12px 30px;
  background: #3b4cca;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.3s ease;
}

.home-button:hover {
  background: #2a38a5;
  transform: translateY(-2px);
}

/* Responsive */
@media (max-width: 900px) {
  .error-container {
    flex-direction: column;
    text-align: center;
  }

  .right-section h1 {
    font-size: 80px;
  }

  .right-section p {
    margin: 0 auto 30px;
  }
}
